html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }


body {
  margin: 0; }

html,
body {
  padding: 0; }

.background {
  height: 100vh;
  min-height: 695px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6); }

.container {
  height: 100vh;
  min-height: 695px;
  width: 1170px;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  background-color: gray; }
